html{
	font-family: monospace;
	font-size: 16px;
	scroll-behavior: smooth;

	--dark_color: #7b461f;
	--light_color: #e9c5a0;
}
body{
	background-color: #333;
	color: #ca6;
	margin: 0;
}
h2{
	font-size: 1em;
}
img{
	max-width: 100%;
}
a{
	color: #fc7;
	text-decoration-thickness: 1px;
}
header,
footer,
main #sidebar{
	background-color: var(--dark_color);
	color: var(--light_color);
	border: 2px dashed;
	padding: 1em;
	margin: 1em;
	outline: 3px solid var(--dark_color);
}
header,
footer{
	margin-inline: auto;
	width: fit-content;
	max-width: calc(100% - 4em);
}
header{
	margin-top: 0;
	border-top: 0;
	border-radius: 0 0 3em 3em;
}
header :is(input,select){
	font-family: inherit;
	font-size: inherit;
	border: 2px dotted;
	color: var(--dark_color);
	background-color: var(--light_color);
	border-radius: .5em;
	padding-inline: .5em;
}
header :is(input,button):focus-visible{
	outline: 1px solid var(--light_color);
}
header input::placeholder{
	color: inherit;
	opacity: .5;
}
header button{
	border-radius: 3em;
	border: 2px dotted;
	color: var(--dark_color);
	font-size: 1em;
	padding: .3em;
	line-height: 1em;
	cursor: pointer;
}

main{
	display: flex;
	justify-content: space-evenly;
	align-items: flex-start;
}
main #typewriter_page{
	flex: 1;
	border-block: 2px dashed;
	padding-block: .5em;
	word-break: break-all;
	margin: 1em;
}
main #typewriter_page div::before{
	content: attr(data-date);
	display: block;
	margin-top: 1em;
	font-size: smaller;
	opacity: 0.9;
	text-align: center;
	text-wrap: balance;
}
main #typewriter_page div:first-child::before{
	margin-top: 0;
}
main #typewriter_page span:last-child{
	display: inline-block;
	animation: keypressed .3s linear;
}
@keyframes keypressed{
	0%{
		transform: scale(4);
	}
	50%{
		color: white;
	}
	100%{
		transform: scale(1);
	}
}

a.jump_to{
	position: relative;
	background-color: var(--dark_color);
	color: var(--light_color);
	margin-block: 1em;
	padding: 0.5em 1em;
	border: 2px dashed;
	outline: 3px solid var(--dark_color);
	border-left: 0;
	border-radius: 0 1em 1em 0;
	display: inline-block;
	font-size: smaller;
	text-decoration: none;
}
a.jump_to:hover{
	left: 1px;
}

main #sidebar{
	width: 230px;
	margin-right: 0;
	border-right: 0;
	border-radius: 3em 0 0 3em;
}
main #sidebar img{
	display: block;
	margin: auto;
}
main #sidebar div:not(#wiki){
	margin-block: 1em;
	margin-inline: -1em;
	padding-inline: 1em;
	border-top: 2px dashed;
}
main #sidebar div:not(#wiki) p{
	text-indent: 2ch;
}
main #sidebar #wiki::before{
	content: "📜";
}
main #sidebar #wiki blockquote{
	margin-block: 0;
	margin-inline: 1em;
	text-wrap: balance;
	font-size: smaller;
}
footer{
	margin-bottom: 0;
	border-bottom: 0;
	border-radius: 3em 3em 0 0;
	font-size: smaller;
	text-align: center;
}
footer::before{
	content: "📃 ";
}

@media only screen and (max-width: 768px) {
	main{
		flex-direction: column-reverse;
	}
	main #sidebar{
		width: auto;
		margin-right: 1em;
		border-right: 2px dashed;
		border-radius: 3em;
	}
	header{
		display: grid;
		gap: .5em;
	}
}