html{
	font-family: monospace;
	font-size: 20px;
	scroll-behavior: smooth;
}
body{
	background-color: #333;
	color: #ca6;
	margin: 0;
}
img{
	max-width: 100%;
}
a{
	color: #fc7;
	text-decoration-thickness: 1px;
}
header,
footer,
main #sidebar{
	background-color: #7b461f;
	color: #e9c5a0;
	border: 2px dashed;
	padding: 1em;
	margin: 1em;
	outline: 3px solid #7b461f;
}
header,
footer{
	margin-inline: auto;
	width: fit-content;
	max-width: calc(100% - 4em);
}
header{
	margin-top: 0;
	border-top: 0;
	border-radius: 0 0 3em 3em;
}
main{
	display: flex;
	justify-content: space-evenly;
	align-items: flex-start;
}
main #typewriter_page{
	flex: 1;
	border-block: 2px dashed;
	padding-block: .5em;
	word-break: break-all;
	margin: 1em;
}
main #typewriter_page div::before {
	content: attr(data-date);
	display: block;
	margin-top: 1em;
	font-size: smaller;
	opacity: 0.9;
	text-align: center;
	text-wrap: balance;
}
main #typewriter_page div:first-child::before {
	margin-top: 0;
}
main #typewriter_page span:last-child {
	display: inline-block;
	animation: keypressed .3s linear;
}
@keyframes keypressed {
	0%{
		transform: scale(4);
	}
	50%{
		color: white;
	}
	100%{
		transform: scale(1);
	}
}

a.jump_to{
	background-color: #7b461f;
	color: #e9c5a0;
	margin-block: 1em;
	padding: 0.5em 1em;
	border: 2px dashed;
	outline: 3px solid #7b461f;
	border-left: 0;
	border-radius: 0 1em 1em 0;
	display: inline-block;
	font-size: smaller;
	text-decoration: none;
}

main #sidebar{
	max-width: 30%;
	margin-right: 0;
	border-right: 0;
	border-radius: 3em 0 0 3em;
}
main #sidebar img{
	display: block;
	margin: auto;
}
main #sidebar #wiki::before{
	content: "📜";
}
main #sidebar #wiki blockquote{
	margin-block: 0;
	margin-inline: 1em;
	text-wrap: balance;
	font-size: smaller;
}
footer{
	margin-bottom: 0;
	border-bottom: 0;
	border-radius: 3em 3em 0 0;
	font-size: smaller;
	text-align: center;
}
footer::before{
	content: "📃 ";
}